@use "sass:string";
@use "theme";

@mixin root-container-element {
  container-type: inline-size;
}

@mixin contained-element {
  height: 280px;

  @container (width <= 500px) {
    height: 350px;
  }
}

$scrollbar-thumb-color: theme.get-color(deeper-light);
$scrollbar-track-color: theme.get-color(dark-grey);
$scrollbar-width: 8px;

@mixin scrollbar {
  @media only screen and (min-width: 500px) {
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: $scrollbar-width;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-color;
    }
  }
}
