@use "sass:map";

$colors: (
  "dark-grey": rgb(46 52 64),
  "deep-dark": rgb(15 23 42),
  "deep-light": rgb(204 204 204),
  "light-grey": rgb(179 179 179 / 20%),
  "soft-dark": rgb(37 58 92),
  "soft-light": rgb(255 255 255)
);

$constants: (
  "border-radius": 2px,
  "element-spacing": 10px,
  "line-height": 1.8em
);

$font-families: (
  "monospace": (
    "Inconsolata",
    monospace
  ),

  "sans-serif": (
    "Inter",
    sans-serif
  )
);

@function get-color($color) {
  @if not map-has-key($colors, $color) {
    @error "Unsupported color: '#{$color}'";
  }
  @return map.get($colors, $color);
}

@function get-constant($constant) {
  @if not map-has-key($constants, $constant) {
    @error "Unsupported constant: '#{$constant}'";
  }
  @return map.get($constants, $constant);
}

@function get-font-family($family) {
  @if not map-has-key($font-families, $family) {
    @error "Unsupported font family: '#{$family}'";
  }
  @return map.get($font-families, $family);
}

@mixin font-family($family) {
  @if not map-has-key($font-families, $family) {
    @error "Unsupported font family: '#{$family}'";
  }
  font-family: map.get($font-families, $family);
}
