@use "sass:math";
@use "partials/utils";
@use "partials/slide";
@import "https://cdn.jsdelivr.net/gh/GalenWong/nord-prism-js/prism-nord.css";

$code-board-background: utils.get-color(dark-grey);
$code-board-scrollbar-main-size: 8px;
$code-board-horizontal-padding: 12px;
$code-board-vertical-padding: 10px;

.CodeBoard {
  @include slide.config;

  &__Title {
    flex: 0 0 max-content;
    text-align: center;
  }
}

.CodeWrapper {
  flex: 0 1 max-content;
  height: 50px;
  margin-top: 10px;
  position: relative;

  $mid-transitioning-horizontal-position: math.div(
    $code-board-horizontal-padding,
    2
  );

  $mid-transitioning-vertical-position: math.div(
    $code-board-vertical-padding,
    2
  );
}

.Code {
  border-radius: utils.get-constant(border-radius);
  height: max-content;
  max-height: 100%;
  scrollbar-color: utils.get-color(deep-light) transparent;
  scrollbar-width: thin;

  &:focus {
    outline: 2px solid utils.get-color(deep-light);
  }

  &::-webkit-scrollbar {
    width: $code-board-scrollbar-main-size;
  }

  &::-webkit-scrollbar:horizontal {
    height: $code-board-scrollbar-main-size;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: utils.get-color(deep-light);
  }
}

/* PrismJS selectors start here */

$code-line-height: utils.get-constant(line-height) - 0.2em;

code[class*="language-"],
pre[class*="language-"],
code[class*="language-"] *,
pre[class*="language-"] * {
  background: $code-board-background;
  font-family: utils.get-font-family(monospace);
  line-height: $code-line-height;
}

pre[class*="language-"] {
  padding: $code-board-vertical-padding $code-board-horizontal-padding;
  margin: 0;

  // $max-immediately-visible-lines: 10;
  // $total-code-board-vertical-padding: $code-board-vertical-padding * 2;
  // max-height: calc(
  //   $code-line-height * $max-immediately-visible-lines +
  //     $total-code-board-vertical-padding
  // );
}

/* PrismJS selectors end here */
