@use "sass:color";
@use "partials/number";
@use "partials/utils";

$bottom-scroll-shadow-sizer-property: --bottom-scroll-shadow-size;
$top-scroll-shadow-sizer-property: --top-scroll-shadow-size;
$max-suitable-scroll-shadow-size: 15px;

:export {
  BOTTOM_SCROLL_SHADOW_SIZER_PROPERTY: $bottom-scroll-shadow-sizer-property;
  TOP_SCROLL_SHADOW_SIZER_PROPERTY: $top-scroll-shadow-sizer-property;
  MAX_SUITABLE_SCROLL_SHADOW_SIZE: number.unitless(
    $max-suitable-scroll-shadow-size
  );
}

.ScrollShadow {
  $overlay-shadow-color: rgb(0 0 0 / 50%);
  $overlay-shadow-color: color.change(utils.get-color(deep-dark), $alpha: 0.9);
  $overlay-shadow-color: utils.get-color(dark-grey);

  #{$bottom-scroll-shadow-sizer-property}: 0;
  #{$top-scroll-shadow-sizer-property}: 0;

  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(utils.get-color(deep-dark), transparent) center
      top,
    linear-gradient(transparent, utils.get-color(deep-dark)) center bottom;
  background-repeat: no-repeat;
  background-size: 100% var($top-scroll-shadow-sizer-property),
    100% var($bottom-scroll-shadow-sizer-property);
}
