# dependencies
/node_modules

# webpack dev build
/dist

# webpack prod build (not ignored so Github can be used as cdn)
/build

# vscode counter extension
/.VSCodeCounter

# notes
/__jsnotes.js
/__tsnotes.ts

# ts
tsconfig.tsbuildinfo