@use "theme";
@use "utils";

// ========================================================
// ======== SCROLLBAR CONFIGURABLE VARIABLES ==============
// ========================================================

$scrollbar-configurable-variables: (
  "track-color": theme.color("tertiary"),
  "thumb-color": theme.color("tertiary-foreground"),
  "width": thin,
  "webkit-width": 8px
);

$scrollbar-configurable-variables-prefix: "custom-scrollbar";

@mixin scrollbar-configurable-variables-declarations() {
  @include utils.variable-declarations(
    $scrollbar-configurable-variables,
    $scrollbar-configurable-variables-prefix
  );
}

@function scrollbar-variable($variable) {
  @return utils.var(
    $variables: $scrollbar-configurable-variables,
    $key: $variable,
    $prefix: $scrollbar-configurable-variables-prefix,
    $type: "custom scrollbar variable"
  );
}

// ========================================
// ============ OTHER STYLES ==============
// ========================================

$scrollbar-track-color: scrollbar-variable("track-color");
$scrollbar-thumb-color: scrollbar-variable("thumb-color");
$scrollbar-width: scrollbar-variable("width");
$scrollbar-webkit-width: scrollbar-variable("webkit-width");

@mixin scrollbar(
  $track-color: $scrollbar-track-color,
  $thumb-color: $scrollbar-thumb-color,
  $width: $scrollbar-width,
  $webkit-width: $scrollbar-webkit-width
) {
  @media only screen and (min-width: 500px) {
    scrollbar-color: $thumb-color $track-color;
    scrollbar-width: $width;

    &::-webkit-scrollbar {
      width: $webkit-width;
    }

    &::-webkit-scrollbar:horizontal {
      height: $webkit-width;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: $track-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $thumb-color;
    }
  }
}
