@use "sass:map";
@use "utils";

$theme-colors: (
  "surface": hsl(222deg 47% 11%),
  "surface-foreground": hsl(0deg 0% 80%),
  "surface-foreground-muted": hsl(217deg 43% 25%),
  "surface-foreground-vibrant": hsl(297deg 91% 45%),
  "container": hsl(217deg 43% 25%),
  "container-foreground": hsl(0deg 0% 80%),
  "container-foreground-muted": hsl(217deg 42% 19%),
  "primary": hsl(217deg 43% 25%),
  "primary-variant": hsl(217deg 42% 19%),
  "primary-foreground": hsl(0deg 0% 80%),
  "primary-variant-foreground": hsl(0deg 0% 80%),
  "secondary": hsl(298deg 93% 22%),
  "secondary-foreground": hsl(0deg 0% 80%),
  "tertiary": hsl(220deg 16% 22%),
  "tertiary-foreground": hsl(0deg 0% 80%),
  "success": hsl(140deg 71% 21%),
  "success-foreground": hsl(0deg 0% 80%),
  "error": hsl(0deg 75% 20%),
  "error-foreground": hsl(0deg 0% 80%)
);

$theme-constants: (
  "border-radius": 2px,
  "element-spacing": 10px,
  "line-height": 1.8em
);

$theme-colors-variables-prefix: "theme-color";
$theme-constants-variables-prefix: "theme-constant";

@mixin variables-declarations() {
  @include utils.variable-declarations(
    $theme-colors,
    $theme-colors-variables-prefix
  );

  @include utils.variable-declarations(
    $theme-constants,
    $theme-constants-variables-prefix
  );
}

@function color($color) {
  @return utils.get-var-string(
    $variables: $theme-colors,
    $key: $color,
    $prefix: $theme-colors-variables-prefix,
    $type: "theme color"
  );
}

@function constant($constant) {
  @return utils.get-var-string(
    $variables: $theme-constants,
    $key: $constant,
    $prefix: $theme-constants-variables-prefix,
    $type: "theme constant"
  );
}
