// Colors
$deep-dark-color: rgb(15, 23, 42);
$soft-dark-color: rgb(37, 58, 92);
$deep-light-color: rgb(204, 204, 204);
$soft-light-color: rgb(255, 255, 255);

// Font families
$sans-serif-font: "Inter", sans-serif;
$monospace-font: "Roboto Mono", monospace;
