@use "../core/theme";
@use "../core/utils";

// ========================================================
// ============== CONFIGURABLE VARIABLES ==================
// ========================================================

$control-panel-configurable-variables: (
  "nav-color": theme.color("primary"),
  "nav-color-foreground": theme.color("primary-foreground"),
  "cta-color": theme.color("secondary"),
  "cta-color-foreground": theme.color("secondary-foreground"),
  "focus-color": theme.color("surface-foreground")
);

$control-panel-configurable-variables-prefix: "control-panel";

@mixin configurable-variables-declarations() {
  @include utils.variable-declarations(
    $control-panel-configurable-variables,
    $control-panel-configurable-variables-prefix
  );
}

@function variable($variable) {
  @return utils.var(
    $variables: $control-panel-configurable-variables,
    $key: $variable,
    $prefix: $control-panel-configurable-variables-prefix,
    $type: "control panel variable"
  );
}
