@use "../core/theme";
@use "../core/utils";

// ========================================================
// ============== CONFIGURABLE VARIABLES ==================
// ========================================================

$header-configurable-variables: (
  "color": theme.color("surface-foreground")
);

$header-configurable-variables-prefix: "header";

@mixin configurable-variables-declarations() {
  @include utils.variable-declarations(
    $header-configurable-variables,
    $header-configurable-variables-prefix
  );
}

@function variable($variable) {
  @return utils.var(
    $variables: $header-configurable-variables,
    $key: $variable,
    $prefix: $header-configurable-variables-prefix,
    $type: "header variable"
  );
}
