@use "../core/theme";
@use "../core/utils";

// ========================================================
// ============== CONFIGURABLE VARIABLES ==================
// ========================================================

$progress-configurable-variables: (
  "muted-element-color": theme.color("surface-foreground-muted"),
  "operational-element-color": theme.color("surface-foreground"),
  "focus-color": theme.color("surface-foreground")
);

$progress-configurable-variables-prefix: "progress";

@mixin configurable-variables-declarations() {
  @include utils.variable-declarations(
    $progress-configurable-variables,
    $progress-configurable-variables-prefix
  );
}

@function variable($variable) {
  @return utils.var(
    $variables: $progress-configurable-variables,
    $key: $variable,
    $prefix: $progress-configurable-variables-prefix,
    $type: "progress variable"
  );
}
