@use "../core/theme";
@use "../core/utils";

// ========================================================
// ============== CONFIGURABLE VARIABLES ==================
// ========================================================

$quiz-configurable-variables: (
  "background-color": theme.color("surface"),
  "focus-color": theme.color("surface"),
  "max-width": 1000px
);

$quiz-configurable-variables-prefix: "quiz";

@mixin configurable-variables-declarations() {
  @include utils.variable-declarations(
    $quiz-configurable-variables,
    $quiz-configurable-variables-prefix
  );
}

@function variable($variable) {
  @return utils.var(
    $variables: $quiz-configurable-variables,
    $key: $variable,
    $prefix: $quiz-configurable-variables-prefix,
    $type: "quiz variable"
  );
}
