@use "sass:math";
@use "core/custom";
@use "core/theme";
@use "elements/presentation";

$code-board-scrollbar-main-size: 8px;

.CodeBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include presentation.contained-content();

  &__Title {
    flex: 0 0 max-content;
    text-align: center;
  }

  &__Content {
    flex: 0 1 max-content;
    height: 50px;
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
}

.Pre {
  border-radius: theme.constant("border-radius");
  height: max-content;
  max-height: 100%;
  overflow: auto;

  @include custom.scrollbar($track-color: transparent);

  &:focus {
    outline: 2px solid theme.color("surface-foreground");
  }

  &[class*="language-"] {
    background: theme.color("tertiary");
    margin: 0;

    code {
      background: theme.color("tertiary");
    }
  }

  @at-root %internal-themed {
    line-height: theme.constant("line-height");
    padding: 10px 12px;

    code {
      line-height: theme.constant("line-height");
    }
  }

  &_basicThemed[class*="language-"] {
    @extend %internal-themed;
    color: theme.color("tertiary-foreground");
  }

  &_defaultThemed[class*="language-"] {
    @extend %internal-themed;
  }
}
