@use "core/custom";
@use "core/theme";
@use "elements/code-board";
@use "elements/presentation";

$code-board-scrollbar-main-size: 8px;

.CodeBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include presentation.contained-content();

  &__Title {
    color: code-board.variable("title-color");
    flex: 0 0 max-content;
    text-align: center;
  }

  &__Content {
    flex: 0 1 max-content;
    height: 50px;
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
}

.Pre {
  border-radius: theme.constant("border-radius");
  height: max-content;
  max-height: 100%;
  overflow: auto;

  @include custom.scrollbar(
    $track-color: code-board.variable("scrollbar-track-color"),
    $thumb-color: code-board.variable("scrollbar-thumb-color"),
    $width: code-board.variable("scrollbar-width"),
    $webkit-width: code-board.variable("scrollbar-webkit-width")
  );

  &:focus-visible {
    outline: 2px solid code-board.variable("board-focus-color");
  }

  &[class*="language-"] {
    $background-color: code-board.variable("board-color");

    background: $background-color;
    margin: 0;

    code {
      background: $background-color;
    }
  }

  @at-root %internal-themed {
    line-height: theme.constant("line-height");
    padding: 10px 12px;

    code {
      line-height: theme.constant("line-height");
    }
  }

  &_basicThemed[class*="language-"] {
    @extend %internal-themed;
    color: code-board.variable("board-color-foreground");
  }

  &_defaultThemed[class*="language-"] {
    @extend %internal-themed;
  }
}
