@use "sass:math";
@use "core/custom";
@use "core/theme";
@use "elements/containment";

$code-board-scrollbar-main-size: 8px;

.CodeBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include containment.contained-element();

  &__Title {
    flex: 0 0 max-content;
    text-align: center;
  }
}

.PreWrapper {
  flex: 0 1 max-content;
  height: 50px;
  margin-top: 10px;
  position: relative;
  width: 100%;
}

.Pre {
  border-radius: theme.get-constant(border-radius);
  height: max-content;
  max-height: 100%;
  overflow: auto;
  scrollbar-color: theme.get-color(deep-light) transparent;
  scrollbar-width: thin;

  @include custom.scrollbar($track-color: transparent);

  &:focus {
    outline: 2px solid theme.get-color(deep-light);
  }

  &[class*="language-"] {
    margin: 0;
  }

  @at-root %internal-themed {
    background: theme.get-color(dark-grey);
    line-height: theme.get-constant(line-height);
    padding: 10px 12px;

    code {
      background: theme.get-color(dark-grey);
      line-height: theme.get-constant(line-height);
    }
  }

  &_basicThemed[class*="language-"] {
    @extend %internal-themed;
    color: theme.get-color(deep-light);
  }

  &_defaultThemed[class*="language-"] {
    @extend %internal-themed;
  }
}
