@use "core/theme";

.ControlPanelContainer {
  container-type: inline-size;
}

.ControlPanel {
  display: grid;
  gap: theme.get-constant(element-spacing);
  grid-template-columns: repeat(2, max-content) 1fr max-content;
  grid-template-areas: "prev next . submit";
  margin-top: theme.get-constant(element-spacing);

  @container (width <= 420px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "prev next" "submit submit";
  }
}

%control-button {
  border-radius: theme.get-constant(border-radius);
  cursor: pointer;
  font-weight: 500;
  outline-offset: 2px;
  padding: 8px 35px;
  transition: opacity linear 0.1s;

  &:focus-visible {
    outline: 2px solid theme.get-color(deep-light);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    opacity: 0.8;
  }
}

.Prev,
.Next {
  @extend %control-button;

  background-color: theme.get-color(soft-dark);
  color: theme.get-color(deep-light);
}

.Cta {
  @extend %control-button;

  background-color: theme.get-color("purple");
  color: theme.get-color(deep-light);
  grid-area: submit;
}
