@use "core/theme";
@use "elements/control-panel";

$nav-color: control-panel.variable("nav-color");
$nav-color-fg: control-panel.variable("nav-color-foreground");
$cta-color: control-panel.variable("cta-color");
$cta-color-fg: control-panel.variable("cta-color-foreground");
$focus-color: control-panel.variable("focus-color");

.ControlPanel {
  container-type: inline-size;

  &__Inner {
    display: grid;
    gap: theme.constant("element-spacing");
    grid-template-columns: repeat(2, max-content) 1fr max-content;
    grid-template-areas: "prev next . submit";
    margin-top: theme.constant("element-spacing");

    @container (width <= 420px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "prev next" "submit submit";
    }
  }

  @at-root %control-button {
    border-radius: theme.constant("border-radius");
    cursor: pointer;
    font-weight: 500;
    outline-offset: 2px;
    padding: 8px 35px;
    transition: opacity linear 0.1s;

    &:focus-visible {
      outline: 2px solid $focus-color;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      opacity: 0.8;
    }
  }

  &__Prev,
  &__Next {
    @extend %control-button;

    background-color: $nav-color;
    color: $nav-color-fg;
  }

  &__Cta {
    @extend %control-button;

    background-color: $cta-color;
    color: $cta-color-fg;
    grid-area: submit;
  }
}
