@use "partials/element";
@use "partials/theme";

.Presentation {
  @include element.root-container-element;

  &_Slide {
    @include element.contained-element;

    display: none;
    margin-top: 20px;

    &:focus-visible {
      outline: 2px solid theme.get-color(deep-light);
    }

    &_shown {
      display: block;
    }
  }
}
