@use "partials/element";

.Presentation {
  width: 100%;
}

.Slide {
  container: element.$container-name / inline-size;
  display: none;
  margin-top: 20px;

  &_shown {
    display: block;
  }

  &__Content {
    @include element.height-config;
  }
}
