@use "partials/element";
@use "partials/utils";

.Presentation {
  width: 100%;
}

.Slide {
  container: element.$container-name / inline-size;
  display: none;
  margin-top: 20px;

  &:focus-visible {
    outline: 1px solid utils.get-color(deep-light);
  }

  &_shown {
    display: block;
  }

  &__Content {
    @include element.height-config;
  }
}
