@use "sass:math";
@use "partials/utils";

$progress-number-span: 30px;
$progress-element-thickness: 2px;
$progress-element-transition-duration: 0.4s;
$reached-progress-element-color: utils.get-color(deep-light);
$unreached-progress-element-color: utils.get-color(soft-dark);

.Progress {
  margin: auto;
  margin-top: 20px;
  max-width: max(90%, 500px);

  &__List {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
  }

  &__Level {
    cursor: default;
    display: block;
    flex-grow: 1;
    max-width: 250px;
    position: relative;

    &:last-child {
      flex-basis: $progress-number-span;
      flex-grow: 0;
    }

    $width-of-reached-progress-number: calc(100% - $progress-number-span);

    @at-root %progress-bridge {
      content: "";
      display: block;
      height: $progress-element-thickness;
      position: absolute;
      top: math.div($progress-number-span, 2);
      transform: translateY(-(math.div($progress-element-thickness, 2)));
      left: $progress-number-span;
    }

    &:not(:last-child)::before {
      @extend %progress-bridge;

      background-color: $unreached-progress-element-color;
      width: $width-of-reached-progress-number;
    }

    &:not(:last-child)::after {
      @extend %progress-bridge;

      background-color: $reached-progress-element-color;
      width: 0;
      z-index: 1;
      transition: width $progress-element-transition-duration;

      @at-root .Progress__Level_passed#{&} {
        width: $width-of-reached-progress-number;
      }
    }
  }

  &__NumberButton {
    background-color: transparent;
    border: $progress-element-thickness solid $unreached-progress-element-color;
    border-radius: utils.get-constant(border-radius);
    color: $unreached-progress-element-color;
    height: $progress-number-span;
    display: block;

    $top-bottom-border-width: $progress-element-thickness * 2;
    $content-height: $progress-number-span - $top-bottom-border-width;

    line-height: $content-height;
    text-align: center;
    width: $progress-number-span;
    transition: border-color $progress-element-transition-duration,
      color $progress-element-transition-duration;

    &:disabled {
      cursor: not-allowed;
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    @at-root %reached-progress-number {
      border-color: $reached-progress-element-color;
      color: $reached-progress-element-color;
    }

    .Progress__Level:first-child & {
      @extend %reached-progress-number;
    }

    .Progress__Level_passed + .Progress__Level & {
      @extend %reached-progress-number;
    }
  }
}
