@use "sass:math";
@use "elements/progress";

$progress-number-span: 32px;
$progress-element-thickness: 2px;
$progress-bridge-transition-duration: 0.4s;

$progress-focus-color: progress.variable("focus-color");
$muted-progress-element-color: progress.variable("muted-element-color");
$operational-progress-element-color: progress.variable(
  "operational-element-color"
);

.Progress {
  margin: auto;
  margin-top: 20px;

  &__List {
    display: flex;
    justify-content: center;
    list-style-type: none;

    margin: auto;
    padding: 4px 0;
    width: 100%;
    max-width: max(90%, 500px);
  }

  &__Level {
    cursor: default;
    display: block;
    flex-grow: 1;
    max-width: 200px;
    position: relative;

    &:last-child {
      flex-basis: $progress-number-span;
      flex-grow: 0;
    }

    &_active {
      // Placeholder for the ".Progress__Level_active" class
    }

    &_resolved {
      // For resolved progress levels
    }

    $progress-bridge-full-width: calc(100% - $progress-number-span);

    @at-root %progress-bridge {
      content: "";
      display: block;
      height: $progress-element-thickness;
      position: absolute;
      top: math.div($progress-number-span, 2);
      transform: translateY(-(math.div($progress-element-thickness, 2)));
      left: $progress-number-span;
    }

    &:not(:last-child)::before {
      @extend %progress-bridge;

      background-color: $muted-progress-element-color;
      width: $progress-bridge-full-width;
    }

    &:not(:last-child)::after {
      @extend %progress-bridge;

      background-color: $operational-progress-element-color;
      width: 0;
      z-index: 1;
      transition: width $progress-bridge-transition-duration;

      @at-root :not(.Progress__Level_active, .Progress__Level_active ~ *)#{&} {
        width: $progress-bridge-full-width;
      }
    }
  }

  &__LevelButton {
    background-color: transparent;
    border: $progress-element-thickness dashed $muted-progress-element-color;
    border-radius: 50%;
    height: $progress-number-span;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    $top-bottom-border-width: $progress-element-thickness * 2;
    $content-height: $progress-number-span - $top-bottom-border-width;

    line-height: $content-height;
    text-align: center;
    width: $progress-number-span;
    transition: border-color 0.1, color 0.1;

    &:disabled {
      color: $muted-progress-element-color;
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: 2px solid $progress-focus-color;
      outline-offset: 2px;
    }

    &:not(:disabled) {
      cursor: pointer;

      border-color: $operational-progress-element-color;
      color: $operational-progress-element-color;
    }

    .Progress__Level_active & {
      color: transparent;

      &::after {
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $operational-progress-element-color;
        border-radius: 50%;
      }
    }

    .Progress__Level_resolved & {
      border-style: solid;
    }
  }
}
