@use "sass:math";
@use "core/custom";
@use "core/theme";
@use "elements/containment";
@use "elements/scroll-shadow";

$gap-between-question-elements: theme.constant("element-spacing");
$min-option-width: 50px;
$option-letter-span: 30px;

.Question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include containment.content();
  @include scroll-shadow.root($position: relative);

  &__Inner {
    height: max-content;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;

    @include custom.scrollbar();
    @include scroll-shadow.scrollable();
  }

  &__Title {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.OptionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-between-question-elements;
  margin-top: $gap-between-question-elements;
}

.Option {
  $option-spacing-length: 8px;
  $total-occupiable-horizontal-space: calc(
    100% - $gap-between-question-elements
  );
  $half-of-occupiable-space: calc($total-occupiable-horizontal-space / 2);

  flex: 1 max-content;
  min-width: max($half-of-occupiable-space, $min-option-width);
  position: relative;

  .Question:disabled &:not(.Option_correct, .Option_incorrect) {
    opacity: 0.8;
  }

  &_correct {
    // Used to style correct selected options
  }

  &_incorrect {
    // Used to style incorrect selected options
  }

  &__Input {
    left: 0;
    opacity: 0.001;
    position: absolute;
    top: 0;
  }

  $selected-option-dark-color: theme.color("primary-variant");
  $correct-option-color: theme.color("success");
  $incorrect-option-color: theme.color("error");

  &__Content {
    border: 2px solid theme.color("surface-foreground-muted");
    border-radius: theme.constant("border-radius");
    cursor: pointer;
    display: grid;
    gap: $option-spacing-length;
    grid-template-columns: $option-letter-span 1fr;
    height: 100%;
    padding: $option-spacing-length;

    &:hover {
      background-color: theme.color("primary");
      border-color: theme.color("primary");
    }

    .Option_correct & {
      background-color: $correct-option-color;
      border-color: $correct-option-color;
    }

    .Option_incorrect & {
      background-color: $incorrect-option-color;
      border-color: $incorrect-option-color;
    }

    .Option__Input:focus + & {
      outline: 2px solid theme.color("surface-foreground");
      outline-offset: -2px;
    }

    .Question:disabled & {
      cursor: not-allowed;
    }

    .Option__Input:checked:not(.Option_correct *, .Option_incorrect *) + & {
      background-color: $selected-option-dark-color;
      border-color: $selected-option-dark-color;
    }
  }

  &__Letter {
    align-items: center;
    background-color: theme.color("primary");
    border-radius: theme.constant("border-radius");
    display: flex;
    font-weight: 500;
    justify-content: center;
    line-height: $option-letter-span;

    .Option_correct & {
      background-color: theme.color("primary-foreground");
      color: $correct-option-color;
    }

    .Option_incorrect & {
      background-color: theme.color("primary-foreground");
      color: $incorrect-option-color;
    }

    .Option__Content:hover & {
      background-color: theme.color("primary-foreground");
      color: theme.color("primary");
    }

    .Option__Input:checked + .Option__Content & {
      background-color: theme.color("primary-foreground");
      color: $selected-option-dark-color;
    }
  }

  &__Text {
    align-items: center;
    display: flex;
    padding-left: math.div($option-spacing-length, 2);
  }
}

.Explanation {
  background-color: theme.color("container");
  border-radius: theme.constant("border-radius");
  display: none;
  margin-top: $gap-between-question-elements;
  padding: $gap-between-question-elements;

  &_enabled {
    // Used to show or hide explanation (button and content)
    display: block;
  }

  &_shown {
    // Used to show or hide explanation content (not button)
  }

  &__Button {
    background-color: transparent;
    border: 2px solid theme.color("container-foreground");
    border-radius: theme.constant("border-radius");
    color: theme.color("container-foreground");
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    padding: 6px 10px;
    transition: background-color linear 0.1s;

    &:focus {
      background-color: theme.color("container-bolder");
    }

    &:focus-visible {
      outline: 2px solid theme.color("container-foreground");
      outline-offset: 2px;
    }

    &:hover {
      background-color: theme.color("container-bolder");
    }
  }

  @mixin shown-and-hidden-with-explanation-root {
    display: none;

    .Explanation_shown & {
      display: block;
    }
  }

  &__Divider {
    background-color: theme.color("container-bolder");
    height: 1px;
    margin-top: $gap-between-question-elements;
    width: 100%;

    @include shown-and-hidden-with-explanation-root();
  }

  &__Content {
    background-color: theme.color("container-bolder");
    border-radius: theme.constant("border-radius");
    margin-top: $gap-between-question-elements;
    padding: 8px;

    @include shown-and-hidden-with-explanation-root();
  }
}
