@use "partials/utils";

%reset-element {
  color: utils.get-color(deep-light);
  font-family: inherit;

  border: none;
  box-sizing: border-box;

  line-height: utils.get-constant(line-height);
  padding: 0;
  margin: 0;
}

.Quiz {
  @extend %reset-element;

  background-color: utils.get-color(deep-dark);
  border-color: utils.get-color(deep-light);
  border-style: solid;
  border-width: 2px 0;
  font-size: 14px;
  padding: 25px 16px;
  max-width: 1000px;
  margin: auto;

  &:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
  }

  * {
    @extend %reset-element;
  }

  code:not(pre code) {
    background-color: utils.get-color(light-grey);
    border-radius: 0.25em;
    padding: 0.05em 0.3em;
  }
}
