@use "core/custom";
@use "core/theme";
@use "elements/quiz";
@use "elements/header";
@use "elements/progress";
@use "elements/presentation";
@use "elements/question";
@use "elements/scroll-shadow";

%reset-element {
  border: none;
  box-sizing: border-box;

  line-height: theme.constant("line-height");
  padding: 0;
  margin: 0;
}

.Quiz {
  @include theme.variables-declarations();
  @include quiz.configurable-variables-declarations();
  @include header.configurable-variables-declarations();
  @include progress.configurable-variables-declarations();
  @include presentation.configurable-variables-declarations();
  @include question.configurable-variables-declarations();
  @include scroll-shadow.configurable-variables-declarations();
  @include custom.scrollbar-configurable-variables-declarations();

  &__Inner {
    @extend %reset-element;

    background-color: quiz.variable("background-color");
    color: theme.color("surface-foreground");

    font-size: 14px;
    padding: 25px 16px;
    max-width: quiz.variable("max-width");
    margin: auto;

    &:focus-visible {
      outline: 2px solid quiz.variable("focus-color");
      outline-offset: 2px;
    }
  }

  * {
    @extend %reset-element;

    &:not(pre, code) {
      font-family: inherit;
    }
  }

  code:not(pre code) {
    padding: 0 0.2em;

    &::before,
    &::after {
      content: "`";
    }
  }
}
