@use "sass:color";
@use "sass:math";
@use "sass:string";
@use "partials/number";
@use "partials/slide";
@use "partials/utils";

$result-green-color: rgb(143 188 188);
$result-pink-color: rgb(180 142 173);

/* stylelint-disable scss/dollar-variable-pattern */
$DURATION_OF_INDICATOR_ANIMATION: 1.5s;
$ID_OF_RESULT_INDICATOR_BAR_GRADIENT: string.unique-id();
$PROPERTY_FOR_INDICATOR_BAR_FINAL_DASHOFFSET: --final-dashoffset;
$PROPERTY_FOR_SCORED_PERCENTAGE: --scored-percentage;
/* stylelint-enable scss/dollar-variable-pattern */

$viewbox-width-of-svg-graphic: 100;
$radius-of-indicator-bar-in-graphic: 50;
$highest-percentage-value: 100;
$circumference-of-indicator-bar: 2 * math.$pi *
  $radius-of-indicator-bar-in-graphic;
$default-result-percentage: 0.1;

$max-indicator-bar-dashoffset-value: math.div(
    $highest-percentage-value - $default-result-percentage,
    $highest-percentage-value
  ) * $circumference-of-indicator-bar;

:export {
  INDICATOR_BAR_GRADIENT_ID: $ID_OF_RESULT_INDICATOR_BAR_GRADIENT;
  CIRCUMFERENCE_OF_INDICATOR_BAR: $circumference-of-indicator-bar;
  DURATION_OF_INDICATOR_ANIMATION_SECS: number.unitless(
    $DURATION_OF_INDICATOR_ANIMATION
  );
  MAX_INDICATOR_BAR_DASHOFFSET_VALUE: $max-indicator-bar-dashoffset-value;
  PROPERTY_FOR_INDICATOR_BAR_FINAL_DASHOFFSET: $PROPERTY_FOR_INDICATOR_BAR_FINAL_DASHOFFSET;
  PROPERTY_FOR_SCORED_PERCENTAGE: $PROPERTY_FOR_SCORED_PERCENTAGE;
  RESULT_GREEN_COLOR: $result-green-color;
  RESULT_PINK_COLOR: $result-pink-color;
}

.ResultContainer {
  align-items: center;
  container-type: inline-size;
  position: relative;

  @include slide.config;
}

.Result {
  display: flex;
  flex: 0 1 max-content;
  gap: 30px;
  height: max-content;
  max-height: 100%;
  max-width: 800px;
  overflow-y: auto;
  padding: 20px 40px;

  @include slide.scrollbar;

  @container (width <= 720px) {
    gap: 20px;
    padding: 10px;
  }

  @container (width <= 560px) {
    align-items: center;
    flex-direction: column;
  }

  &__Board {
    display: flex;
    flex-direction: column;
    flex: 0 1 max-content;
    justify-content: center;
    opacity: 0;
    transition: opacity linear math.div($DURATION_OF_INDICATOR_ANIMATION, 2);
    transition-delay: math.div($DURATION_OF_INDICATOR_ANIMATION, 2);

    .Indicator_rendered + & {
      opacity: 1;
    }

    @container (width <= 560px) {
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
      text-align: center;
    }
  }

  &__Instructions {
    font-size: 1.4em;
    font-weight: 600;

    em {
      color: $result-pink-color;
      font-weight: 800;
    }
  }

  &__ReviewButton {
    background-color: transparent;
    border-radius: utils.get-constant(border-radius);
    color: $result-pink-color;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: underline;
    transition: opacity linear 0.1s;
    width: max-content;

    @container (width <= 720px) {
      margin-top: 10px;
    }

    &:focus-visible {
      outline: 2px solid utils.get-color(deep-light);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.Indicator {
  --result-indicator-dimension: 220px;
  --result-indicator-bar-dimension: 35px;
  --result-indicator-unitless-dimension: 220;
  --result-indicator-bar-unitless-dimension: 35;

  $result-indicator-dimension: var(--result-indicator-dimension);
  $result-indicator-bar-dimension: var(--result-indicator-bar-dimension);

  $result-indicator-unitless-dimension: var(
    --result-indicator-unitless-dimension
  );

  $result-indicator-bar-unitless-dimension: var(
    --result-indicator-bar-unitless-dimension
  );

  align-items: center;
  display: flex;
  flex: 0 0 $result-indicator-dimension;
  height: $result-indicator-dimension;
  justify-content: center;
  position: relative;
  width: $result-indicator-dimension;

  @container (width <= 720px) {
    --result-indicator-dimension: 180px;
    --result-indicator-bar-dimension: 30px;
    --result-indicator-unitless-dimension: 180;
    --result-indicator-bar-unitless-dimension: 30;
  }

  @container (width <= 560px) {
    --result-indicator-dimension: 220px;
    --result-indicator-bar-dimension: 35px;
    --result-indicator-unitless-dimension: 220;
    --result-indicator-bar-unitless-dimension: 35;
  }

  @container (width <= 300px) {
    --result-indicator-dimension: 180px;
    --result-indicator-bar-dimension: 30px;
    --result-indicator-unitless-dimension: 180;
    --result-indicator-bar-unitless-dimension: 30;
  }

  &__OuterShadow {
    border-radius: 50%;
    box-shadow: 0 0 7px -4px $result-pink-color;
    height: 100%;
    width: 100%;
  }

  &__InnerShadow {
    $inner-shadow-dimension: calc(100% - $result-indicator-bar-dimension * 2);

    border-radius: 50%;
    box-shadow: inset 0 0 7px -4px $result-pink-color;
    height: $inner-shadow-dimension;
    position: absolute;
    width: $inner-shadow-dimension;
  }

  &__Graphic {
    $svg-dimension: calc(
      $result-indicator-dimension - $result-indicator-bar-dimension
    );

    height: $svg-dimension;
    overflow: visible;
    position: absolute;
    transform: rotate(-90deg);
    width: $svg-dimension;
  }

  &__Bar {
    /*
      The code below was previously used to set the real dashoffset to use on
      the inidicator bar after the scored percentage has been populated, and it
      works fine in Google Chrome. However, because firefox doesn't support the
      use of var() inside calc() and many other CSS functions, it's replaced
      with the code far below it.
    */

    /*
    $scored-percentage-to-use: max(
      var(#{$PROPERTY_FOR_SCORED_PERCENTAGE}),
      $default-result-percentage
    );

    $real-dashoffset: calc(
      (
          ($highest-percentage-value - $scored-percentage-to-use) /
            $highest-percentage-value
        ) * $circumference-of-indicator-bar
    );
    */

    // This is used for the reason mentiond above (pertaining to firefox)
    $real-dashoffset: var(#{$PROPERTY_FOR_INDICATOR_BAR_FINAL_DASHOFFSET});

    fill: none;
    stroke: url("##{$ID_OF_RESULT_INDICATOR_BAR_GRADIENT}");
    stroke-width: calc(
      $result-indicator-bar-dimension *
        (
          $viewbox-width-of-svg-graphic /
            (
              $result-indicator-unitless-dimension -
                $result-indicator-bar-unitless-dimension
            )
        )
    );

    stroke-dasharray: $circumference-of-indicator-bar;
    stroke-dashoffset: $max-indicator-bar-dashoffset-value;
    stroke-linecap: round;
    transition: stroke-dashoffset $DURATION_OF_INDICATOR_ANIMATION ease-in-out;

    .Indicator_rendered & {
      stroke-dashoffset: $real-dashoffset;
    }
  }

  &__Text {
    align-items: center;
    display: flex;
    justify-content: center;
    height: max-content;
    position: absolute;
    width: max-content;
  }

  &__PercentValue {
    color: transparent;
    font-size: calc($result-indicator-dimension / 4);
    font-weight: 900;
    background-image: linear-gradient(
      to top,
      $result-green-color,
      $result-pink-color
    );
    background-clip: text;
    -webkit-background-clip: text; /* stylelint-disable-line */
  }

  &__PercentSign {
    color: $result-green-color;
    font-size: 1.2em;
    font-weight: 700;
    position: absolute;
    right: -0.8em;
    top: 1em;
  }
}
