@use "core/theme";
@use "lib/number";
@use "elements/scroll-shadow";

:export {
  BOTTOM_SCROLL_SHADOW_SIZE_CSS_VAR: scroll-shadow.$bottom-scroll-shadow-size-css-var;
  TOP_SCROLL_SHADOW_SIZE_CSS_VAR: scroll-shadow.$top-scroll-shadow-size-css-var;
  SCROLL_SHADOW_SUITABLE_MAX_SIZE: number.unitless(
    scroll-shadow.$scroll-shadow-suitable-max-size
  );
}

.ScrollShadow {
  @include scroll-shadow.shadow();
}
