@use "partials/number";
@use "partials/utils";

$bottom-scroll-shadow-size-css-var: --bottom-scroll-shadow-size;
$top-scroll-shadow-size-css-var: --top-scroll-shadow-size;
$scroll-shadow-suitable-max-size: 15px;

:export {
  BOTTOM_SCROLL_SHADOW_SIZE_CSS_VAR: $bottom-scroll-shadow-size-css-var;
  TOP_SCROLL_SHADOW_SIZE_CSS_VAR: $top-scroll-shadow-size-css-var;
  SCROLL_SHADOW_SUITABLE_MAX_SIZE: number.unitless(
    $scroll-shadow-suitable-max-size
  );
}

.ScrollShadow {
  #{$bottom-scroll-shadow-size-css-var}: 0;
  #{$top-scroll-shadow-size-css-var}: 0;

  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(utils.get-color(deep-dark), transparent) center
      top,
    linear-gradient(transparent, utils.get-color(deep-dark)) center bottom;
  background-repeat: no-repeat;
  background-size: 100% var($top-scroll-shadow-size-css-var),
    100% var($bottom-scroll-shadow-size-css-var);
}
